:root {
  --primary-text-color: #757575;
  --titel-text-color: #212121;
  --accent-color: #2196f3;
  --main-site-color: #ffffff;
  --primary-site-background: #f5f5f5;
  --secondary-site-backgroud: #2f303a;
  --team-section-backgroung: #f5f4fa;
  --main-button-color: #188ce8;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/*головний колір сторінки  */

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--main-site-color);
}

/*логотип*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header-nav {
  display: flex;
  align-items: center;
  /* outline: solid tomato; */
}

.header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
  /* outline: solid tomato; */
}

.logo-link {
  color: var(--titel-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.logo {
  color: var(--accent-color);
}

/* навігація сайту */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .nav-item {
  align-items: center;
}

.site-nav .nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  position: relative;
  color: var(--titel-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  /* outline: solid tomato; */

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.list {
  list-style: none;
  padding: 0;
}

/* навігація контактів */

.header-contacts .contact-list {
  display: flex;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  /* outline: solid tomato; */

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts {
  display: flex;
  margin-left: auto;
  /* outline: solid tomato; */
}

.header-contacts .item + .item {
  margin-left: 50px;
}

.header-contacts .contact-list:hover,
.contact-list:focus {
  color: var(--accent-color);
}

.contact-list {
  display: flex;
  align-items: center;
}

.contact-icon {
  margin-right: 10px;
  margin-bottom: 0;
  padding: 0;
  fill: currentColor;
}

/* основний зміст студія*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero {
  background-color: var(--secondary-site-backgroud);
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay-hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-header {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  color: var(--main-site-color);
  font-weight: 900;
  text-transform: uppercase;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  max-width: 696px;
  text-align: center;
  margin: 0 auto 30px;
}

.main-button {
  color: var(--main-site-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  min-width: 216px;
  border: 0;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  background-color: var(--main-button-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* section titel-box */

.feature {
  display: flex;
}

.feature .titel-item {
  margin-right: 30px;
  width: 270px;
}

.feature .titel-item:last-child {
  margin-right: 0;
}

.titel {
  color: var(--titel-text-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(16 / 14);
  margin-bottom: 10px;
}

.titel-text {
  font-size: 14px;
  line-height: 1.7;
}
.titel-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  /* padding: 25px 100px; */
  border-radius: 4px;
}

/* Section occupation */

.occupation {
  padding-top: 0px;
  padding-bottom: 94px;
}

.occupation-titel {
  color: var(--titel-text-color);
  font-size: 36px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 50px;
  /* outline: solid tomato; */
}

.occupation-img {
  display: flex;
  /* outline: solid tomato; */
}

.occupation-img .img-item {
  margin-right: 30px;
}

.occupation-img .img-item:last-child {
  margin-right: 0px;
}

.text-overlay {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: var(--main-site-color);
  padding-top: 27px;
  padding-bottom: 27px;
}

.position .img-item {
  position: relative;
}

.overlay-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Section team */

.team {
  background-color: var(--team-section-backgroung);
}

.team-list {
  /* outline: solid tomato; */
  display: flex;
}

.team-list .team-img {
  margin-right: 30px;
}
.team-list .team-img:last-child {
  margin-right: 0;
}

.team-img {
  background-color: var(--main-site-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  /* outline: solid tomato; */
}

.picture {
  margin-bottom: 30px;
  /* outline: solid tomato; */
}
.team-titel {
  color: var(--titel-text-color);
  font-size: 36px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 50px;
}

.team-name {
  color: var(--titel-text-color);
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 10px;
  /* outline: solid tomato; */
}

.team-position {
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 16px;
  /* outline: solid tomato; */
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.social-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-icon {
  fill: currentColor;
}

/* Client_Logo */

.client-header {
  color: var(--titel-text-color);
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  /* outline: solid tomato; */
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.client-icon {
  fill: currentColor;
}

/* Портфоліо */

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: inherit;
  color: var(--titel-text-color);
  background-color: var(--team-section-backgroung);
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--main-site-color);
  background-color: var(--accent-color);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-list .project-item {
  flex-basis: calc((100% - 30px * 2) / 3);
}

/* .project-item:hover,
.project-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} */

.project-shadow:hover,
.project-shadow:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-shadow {
  text-decoration: none;
  display: block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-img {
  display: block;
}

.border-titel {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.project-titel {
  color: var(--titel-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project {
  font-size: 16px;
  line-height: 1.8;
  color: var(--primary-text-color);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(101%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:hover .overlay {
  transform: translateY(0);
}

.overlay-text {
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--main-site-color);
}

/*Футер*/

.footer-nav {
  background-color: var(--secondary-site-backgroud);
  padding-top: 60px;
  padding-bottom: 60px;
  /* outline: solid tomato; */
}

.footer-flex {
  display: flex;
  align-items: baseline;
  /* outline: solid tomato; */
}

.address {
  margin-right: 70px;
  /* outline: solid tomato; */
}

.footer-logo {
  color: var(--main-site-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
  display: block;
  margin-bottom: 20px;
}

.card-address {
  font-style: normal;
}

.footer-list {
  margin-bottom: 9px;
}

.footer .footer-list:last-child {
  margin: 0px;
}

.footer .footer-address {
  color: var(--main-site-color);
  text-decoration: none;
  font-size: 14px;
  line-height: calc(24 / 14);
}

.footer .footer-contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: calc(24 / 14);
}

.join-titel {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.join-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.join-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join-icon {
  fill: currentColor;
}

.join-link:hover,
.join-link:focus {
  background-color: #2196f3;
}

.mail-form {
  margin-left: 93px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* outline: solid tomato; */
}

.subscriber-titel {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--main-site-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.form-list {
  display: flex;
  align-items: center;
}

.submit-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--main-site-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  border: none;
  margin-left: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 28px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--accent-color);
}

.submit-icon-btn {
  margin-left: 10px;
}

.form-email {
  padding: 15px 16px 15px;
  width: 358px;
  height: 50px;
  font: inherit;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
 background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.form-email::placeholder{
color: rgba(255, 255, 255, 0.6);

}
/* Model Window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 40px 41px;
}

.backdrop.is-hidden .modal {
  /* transform: translate(-50%, -70%); */
  transform: scale(1);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
}

/* Modal Form */

.modal-titel {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  color: var(--titel-text-color);
  margin-bottom: 12px;
}


.modal-form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  /* outline: solid tomato; */
}

.form-name {
  font-weight: 400;
  font-family: inherit;
  letter-spacing: inherit;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  padding: 12px 42px;
  /* font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em; */
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--titel-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}

.form-input:hover + .icon-form,
.form-input:focus + .icon-form {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 12px;
}

.textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  height: 120px;
  width: 100%;
  color: var(--titel-text-color);
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea:hover,
.textarea:focus {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}

.checkbox-form-group {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 14px;
}

.label-check {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--primary-text-color);
  letter-spacing: inherit;
  align-items: center;
  justify-content: center;
}

.check-policy {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.check-link {
  color: var(--accent-color);
  margin-left: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.check-link:hover,
.check-link:focus {
  color: var(--main-button-color);
}

.icon-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  margin-right: 7px;
}

.check-policy:checked + .icon-check {
 background-color: var(--accent-color);
 background-image: url(../images/vec\ check.svg);
 background-repeat: no-repeat;
 background-position: center;
 border-color: var(--accent-color);
}
.submit-btn1 {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--main-site-color);
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 52px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn1:hover,
.submit-btn1:focus {
  background-color: var(--main-button-color);
  outline:var(--main-button-color);
}